*.js text eol=crlf whitespace=indent-with-non-tab,tab-in-indent,-blank-at-eof,tabwidth=4
*.json text eol=crlf whitespace=indent-with-non-tab,tab-in-indent,-blank-at-eof,tabwidth=4
*.html text eol=crlf whitespace=indent-with-non-tab,tab-in-indent,-blank-at-eof,tabwidth=4
*.css text eol=crlf whitespace=indent-with-non-tab,tab-in-indent,-blank-at-eof,tabwidth=4
*.md text eol=crlf whitespace=indent-with-non-tab,tab-in-indent,-blank-at-eof,tabwidth=4
