*.js text eol=lf whitespace=indent-with-non-tab,tab-in-indent,-blank-at-eof,tabwidth=4
*.json text eol=lf whitespace=indent-with-non-tab,tab-in-indent,-blank-at-eof,tabwidth=4
*.html text eol=lf whitespace=indent-with-non-tab,tab-in-indent,-blank-at-eof,tabwidth=4
*.css text eol=lf whitespace=indent-with-non-tab,tab-in-indent,-blank-at-eof,tabwidth=4
*.md text eol=lf whitespace=indent-with-non-tab,tab-in-indent,-blank-at-eof,tabwidth=4
