.s-header {
    top: 0;
    position: sticky;
    z-index: 10;
}

.s-header .container {
    background-color: #14c6f0;
    max-width: unset;
}

.s-header .container nav {
    display: flex;
    justify-content: initial;
}

@media only screen and (max-width: 767px) {
    #navbar {
        text-align: center;
        gap: 1rem;
    }
    .nav-home-logo {
        width: 100%;
        margin-left: 0 !important;
    }
    #nav-buttons {
        width: 100%;
    }
}

.s-header .container nav .nav-home-logo {
    margin-left: 35px;
}

.s-header .container nav .nav-home-logo img {
    width: 54px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#nav-buttons button {
    border: 0;
    background-color: unset;
    font-size: large;
    min-width: 100px;
    height: 50px;
    border-radius: .25rem;
    margin: 0 3px 0 3px;
    font-weight: bold;
}

#nav-buttons button:hover {
    background-color: rgba(255, 255, 255, .25);
    cursor: pointer;
}
