a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}
body {
    line-height: 0
}
ol,
ul {
    list-style: none
}
blockquote,
q {
    quotes: none
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
/*
@font-face {
    font-family: FlexoHeavy;
    src: url(/styles/fonts/flexo-heavy-webfont.woff2) format("woff2"), url(/styles/fonts/flexo-heavy-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: FlexoMedium;
    src: url(/styles/fonts/flexo_2_0-webfont.woff2) format("woff2"), url(/styles/fonts/flexo_2_0-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: FlexoDemi;
    src: url(/styles/fonts/flexo_4_0-webfont.woff2) format("woff2"), url(/styles/fonts/flexo_4_0-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: FlexoThin;
    src: url(/styles/fonts/flexo_0_0-webfont.woff2) format("woff2"), url(/styles/fonts/flexo_0_0-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: FlexoRegular;
    src: url(/styles/fonts/flexo_1_0-webfont.woff2) format("woff2"), url(/styles/fonts/flexo_1_0-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: FlexoBold;
    src: url(/styles/fonts/flexo_5_0-webfont.woff2) format("woff2"), url(/styles/fonts/flexo_5_0-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}
*/
body {
    overflow: hidden auto
}
.gradient-background {
    background-image: linear-gradient(to bottom, #14c6f0, #091d57 750px);
    min-height: 75%;
    height: auto;
    overflow-x: hidden
}
h1 {
    font-family: FlexoDemi, sans-serif;
    font-size: 20px;
    color: #fff
}
h2 {
    font-family: FlexoDemi, sans-serif;
    font-size: 20px;
    color: #fff
}
h3 {
    font-family: FlexoRegular, sans-serif;
    font-size: 18px;
    color: #fff
}
h4 {
    font-family: FlexoRegular, sans-serif;
    font-size: 16px;
    color: #fff
}
h5,
p {
    font-family: FlexoRegular, sans-serif;
    font-size: 14px;
    color: #fff
}
h6 {
    font-family: FlexoRegular, sans-serif;
    font-size: 12px;
    color: #fff
}
.flag {
    border: none;
    font-family: FlexoDemi, sans-serif;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 3px
}
.flag.blue {
    background-color: #091d57;
    color: #fff;
    padding: 12px 10px
}
.flag.hidden {
    display: none
}
.channel-tile {
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden
}
.channel-tile img {
    object-fit: contain;
    max-width: 100%;
    border-radius: 10px
}
.s-footer {
    background-image: url(/images/background_footer.png)
}
.s-footer .social-list.share {
    margin-top: 40px
}
.s-footer .social-list.find {
    margin-top: 20px
}
.s-footer .social-list span {
    font-family: FlexoRegular, sans-serif;
    font-size: .85rem;
    line-height: .85rem;
    color: #fff
}
.s-footer .social-list ul {
    display: inline-flex;
    margin-top: 5px
}
.s-footer .social-list ul li {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 3px;
    margin-right: 3px
}
.s-footer .social-list ul li a {
    border: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}
.s-footer .social-list ul li a:hover {
    text-decoration: none
}
.s-footer .social-list ul li .fab {
    font-size: 1.3rem
}
.s-footer .social-list ul.share-social-list li {
    background-color: #fff
}
.s-footer .social-list ul.share-social-list li .fab {
    color: #000
}
.s-footer .social-list ul.find-social-list li {
    background-color: #57c8f2
}
.s-footer .social-list ul.find-social-list li .fab {
    color: #fff
}
.s-footer .legal-container {
    margin-top: 60px;
    padding-left: 10px;
    padding-right: 10px
}
.s-footer .legal-container h3 {
    font-family: FlexoBold, sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: #fff
}
.s-footer .legal-container img {
    margin-top: 15px;
    margin-bottom: 15px
}
.s-footer .legal-container .legal-links ul {
    display: inline-flex
}
.s-footer .legal-container .legal-links a {
    font-family: FlexoMedium, sans-serif;
    font-size: .8rem;
    line-height: .8rem;
    color: #fff
}
.s-footer .legal-container .legal-links hr {
    height: 1rem;
    width: 1px;
    background: #fff;
    margin: 0 5px
}
.s-footer .region-container .btn {
    font-family: FlexoMedium, sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-top: 50px;
    padding: 15px 40px;
    border-radius: .5rem;
    background-color: #ffffff00;
    border: #fff 3px solid
}
.s-footer .region-container .dropdown-item {
    font-family: FlexoMedium, sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    cursor: pointer
}
.s-footer .region-container .play-container {
    margin-top: 20px
}
.s-footer .region-container .play-container a {
    margin: auto
}
.s-footer .legal-company {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 40px
}
.s-footer .legal-company span {
    font-family: FlexoRegular, sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    color: #fff
}
.s-footer .c-modal .modal .modal-dialog {
    max-width: 875px
}
.s-footer .c-modal .modal .modal-dialog .external-link-modal {
    background-image: none;
    border-radius: 10px
}
.s-footer .c-modal .modal .modal-dialog .modal-body {
    padding: 0
}
.s-footer .c-modal .modal .modal-dialog .modal-body .text-container {
    padding: 20px
}
.s-footer .c-modal .modal .modal-dialog .modal-body .text-container h6 {
    margin-top: 0;
    font-family: FlexoThin, arial, sans-serif;
    font-size: 1.75rem;
    line-height: 2.1875rem;
    color: #616161;
    margin-top: 30px;
    margin-bottom: 40px
}
.s-footer .c-modal .modal .modal-dialog .modal-body .text-container p {
    color: #616161;
    line-height: 1.75rem;
    font-size: .875rem;
    font-family: Roboto, arial, sans-serif;
    margin-bottom: 60px
}
.s-footer .c-modal .modal .modal-dialog .modal-body .btns-container {
    right: 30px;
    bottom: 30px
}
.s-footer .c-modal .modal .modal-dialog .modal-body .btns-container .btn {
    font-size: 18px
}
.s-footer .c-modal .modal .modal-dialog .modal-body .btns-container .btn.btn-cancel {
    background-color: #616161;
    color: #fff
}
.s-footer .c-modal .modal .modal-dialog .modal-body .btns-container .btn.btn-cancel:before {
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-size: 18px;
    font-weight: 800;
    opacity: 1;
    margin-right: 10px
}
.s-footer .c-modal .modal .modal-dialog .modal-body .btns-container .btn.btn-accept {
    background-color: #4dad5b;
    color: #fff
}
.s-footer .c-modal .modal .modal-dialog .modal-body .btns-container .btn.btn-accept:after {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-size: 18px;
    font-weight: 800;
    opacity: 1;
    margin-left: 10px
}
@media only screen and (min-width: 768px) {
    .s-footer .legal-company {
        text-align: center
    }
    .s-footer .c-modal .modal .modal-dialog .modal-body .text-container {
        padding: 30px 30px 40px 280px
    }
}
.s-header {
    height: 69px;
    right: 0;
    left: 0;
    z-index: 1200
}
.s-header.shadow-header {
    box-shadow: 0 7px 12px -5px rgba(0, 188, 212, .46), 0 4px 20px 0 rgba(0, 0, 0, .14)
}
.s-header .container {
    background-color: #14c6f0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    max-width: none
}
.s-header .container nav {
    display: flex;
    height: 100%;
    margin: auto
}
.s-header .container nav .nav-home-logo img {
    width: 54px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 35px
}
.s-header .container nav .nav-pill {
    font-family: FlexoBold, sans-serif;
    font-size: 12px;
    color: #fff;
    height: 50px;
    width: 95px;
    text-align: center;
    padding: 25px 0;
    margin-right: 5px
}
.s-header .container nav .nav-pill:hover {
    background-color: rgba(255, 255, 255, .25)
}
.s-header .container nav .nav-pill.active {
    background-color: rgba(8, 63, 119, .8)
}
.s-header .container nav .nav-kebab {
    background-color: #083f77;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 0
}
.s-header .container nav .kebab-dot {
    background-color: #fff;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin: 2px auto
}
.s-header .container nav .sign-in-button {
    font-family: FlexoBold, sans-serif;
    font-size: 12px;
    color: #0c2d5d;
    background-color: #ffd400;
    box-shadow: 0 2px 2px 0 #01b3de;
    min-width: 75px;
    height: 25px;
    border-radius: 20.5px;
    padding-top: 3px
}
.s-header .c-modal .modal .menu-modal {
    height: 90%;
    top: 0
}
.s-header .c-modal .modal .menu-modal .modal-content {
    background-color: transparent;
    border: 0
}
.s-header .c-modal .modal .menu-modal .modal-header {
    border: 0
}
.s-header .c-modal .modal .menu-modal .close {
    color: #fff;
    opacity: 1;
    font-size: 50px;
    font-weight: 100;
    font-family: FlexoThin, sans-serif;
    margin-top: -30px;
    outline: 0
}
.s-header .c-modal .modal .menu-modal .close :hover {
    color: #fff
}
.s-header .c-modal .modal .menu-modal .menu-list {
    align-items: center
}
.s-header .c-modal .modal .menu-modal .menu-list .menu-category {
    font-family: FlexoBold, sans-serif;
    font-size: 20;
    color: #fff;
    border: 0;
    background: 0 0;
    padding: 35px;
    cursor: pointer
}
@media only screen and (min-width: 768px) {
    .s-header .container nav .sign-in-button {
        margin-right: 35px
    }
}
.cls-1 {
    fill: #091c23
}
.cls-2 {
    fill: #09326c
}
.cls-3 {
    fill: #091e57
}
.cls-4 {
    fill: #0b1f58
}
.cls-5 {
    fill: #092962
}
.cls-6 {
    fill: #0a1740
}
.cls-7 {
    fill: #1b2e63
}
.cls-8 {
    fill: #0a245d
}
.cls-9 {
    fill: #fddb00
}
.cls-10 {
    fill: #fdfdfd
}
.cls-11 {
    fill: #093570
}
.cls-12 {
    fill: #0c2f69
}
.cls-13 {
    fill: #0a326c
}
.cls-14 {
    fill: #ec1d24
}
.cls-15 {
    fill: #e4e6e7
}
.cls-16 {
    fill: #d4d5d5
}
.cls-17 {
    fill: #e2e3e5
}
.cls-18 {
    fill: #dcdee1
}
.cls-19 {
    fill: #eaecec
}
.cls-20 {
    fill: #09245e
}
.cls-21 {
    fill: #e8e9ea
}
.cls-22 {
    fill: #233a6e
}
.cls-23 {
    fill: #091b22
}
.cls-24 {
    fill: #0d1c21
}
.cls-25 {
    fill: #fbfbfb
}
.cls-26 {
    fill: #af1116
}
.cls-27 {
    fill: #ea1c24
}
.agile .agile__list {
    overflow: visible
}
.agile .agile__nav-button {
    background: 0 0;
    color: transparent;
    position: absolute;
    top: 0;
    z-index: 999;
    height: 80%;
    width: 30px;
    border: none;
    cursor: pointer
}
.agile .agile__nav-button[disabled=disabled] {
    display: none
}
.agile .agile__nav-button--prev {
    left: 0
}
.agile .agile__nav-button--next {
    right: 0
}
.agile .agile__nav-button:before {
    display: none
}
.agile .agile__nav-button--prev:before {
    content: "\f053"
}
.agile .agile__nav-button--next:before {
    content: "\f054"
}
@media only screen and (min-width: 768px) {
    .agile .agile__nav-button:before {
        display: block;
        color: #fff;
        font-size: 22px;
        font-family: "Font Awesome 5 Free";
        font-weight: 900
    }
    .agile .agile__nav-button:before.hover {
        color: #57c8f2
    }
}
.c-hero {
    margin: auto
}
.c-hero .spotlight-container {
    margin: auto;
    padding: 15px 15px 0 15px
}
.c-hero .agile__dots {
    padding-top: 57%;
    right: 24px;
    position: absolute
}
.c-hero .agile__dot {
    margin: 0 6px
}
.c-hero .agile__dot button {
    background-color: #fff;
    opacity: .35;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 9px;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    transition-duration: .5s;
    width: 9px
}
.c-hero .agile__dot--current button {
    opacity: 1
}
.c-hero .agile__nav-button:before.hover {
    color: #57c8f2
}
.c-hero .agile__list {
    overflow: hidden
}
.c-hero .agile__actions {
    width: 100%;
    position: absolute;
    top: 0;
    pointer-events: none
}
.c-hero .agile__actions button,
.c-hero .agile__actions li {
    pointer-events: auto
}
.c-hero .agile__slides {
    align-items: unset
}
.c-hero .agile-slide {
    width: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    object-position: center;
    border-radius: 10px
}
.c-hero .agile-content {
    max-width: 452px;
    z-index: 999;
    position: relative;
    padding-top: 40px;
    text-align: left
}
.c-hero .agile-content .ad-slide-img {
    object-fit: cover
}
.c-hero .agile-content a:hover {
    text-decoration: none
}
.c-hero .agile-content h2 {
    line-height: 32px
}
.c-hero .agile-content p {
    font-family: FlexoRegular, sans-serif;
    font-size: 15px;
    line-height: 17px;
    color: #fff
}
.c-hero .aspect-ratio-box {
    width: 100%;
    padding-top: 56%;
    position: relative
}
.c-hero .aspect-ratio-box img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}
@media only screen and (min-width: 768px) {
    .c-hero .spotlight-container {
        padding: 30px 30px 0 30px
    }
    .c-hero .agile__list {
        overflow: visible
    }
    .c-hero .agile-content {
        padding-top: 15px
    }
    .c-hero .agile-slide-background-cover {
        padding-left: 15px;
        padding-right: 15px
    }
    .c-hero .agile-slide.ads-slide {
        background-image: var(--tabletImage)
    }
    .c-hero .agile__actions {
        position: unset
    }
}
.c-category-bar {
    margin-top: 30px;
    height: 208px
}
.c-category-bar .category-row {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 24px;
    margin: auto
}
.c-category-bar .category-row .category-link {
    text-decoration: none
}
.c-category-bar .category-row h2 {
    text-align: center;
    margin-top: 25px;
    text-decoration: none
}
.c-category-bar .category-background {
    height: 135px;
    border-radius: 10px
}
.c-category-bar .category-background.blue {
    background-color: #2a80f1
}
.c-category-bar .category-background.orange {
    background-color: #f86c72
}
.c-category-bar .category-background.purple {
    background-color: #9e5ad8
}
.c-category-bar .category-background.green {
    background-color: #5bd0b7
}
.c-category-bar .category-background .category-image {
    height: 160px;
    margin-top: -25px
}
.c-category-bar .category-background .category-image img {
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: 0 0;
    border-radius: 0 0 10px 10px
}
.c-category-bar .category-background .category-image img.center {
    object-position: top
}
@media only screen and (min-width: 768px) {
    .c-category-bar .category-row {
        padding-right: 30px;
        padding-left: 30px
    }
}
.c-category-screen .row {
    margin: auto;
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-bottom: 30px
}
.c-category-screen .row h1 {
    height: 125px;
    padding-top: 80px;
    font-size: 36px;
    font-family: FlexoRegular, sans-serif
}
.c-category-screen .row .channel-tile {
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-bottom: 15px
}
@media only screen and (min-width: 768px) {
    .c-category-screen .row {
        padding-left: 42.5px;
        padding-right: 42.5px
    }
}
.fade-enter-active,
.fade-leave-active {
    transition: opacity .3s
}
.fade-enter,
.fade-leave-to {
    opacity: 0
}
.c-modal {
    background-color: rgba(0, 34, 69, .8);
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: table;
    transition: opacity .3s ease
}
.c-modal .modal {
    z-index: 9999;
    display: table-cell;
    vertical-align: middle;
    overflow: scroll
}
.c-modal .modal .modal-dialog {
    top: 5%
}
.c-modal .modal .modal-dialog .modal-content {
    border-radius: 10px
}
.c-modal .modal .modal-dialog .modal-body {
    border-radius: 10px;
    padding: 30px 35px 25px 35px
}
.c-modal .modal .modal-dialog .modal-body .text-container h1 {
    color: #000;
    line-height: 1.5;
    font-size: 25px;
    font-family: FlexoBold, sans-serif
}
.c-modal .modal .modal-dialog .modal-body .text-container h2 {
    color: #000;
    line-height: normal;
    font-size: 22px;
    font-family: FlexoRegular, sans-serif;
}
.c-modal .modal .modal-dialog .modal-body .text-container h3 {
    color: #000;
    line-height: normal;
    font-family: FlexoRegular, sans-serif;
}
.c-modal .modal .modal-dialog .modal-body .text-container p {
    color: #000;
    line-height: normal;
    font-family: FlexoRegular, sans-serif;
    font-size: 16px
}
.c-modal .modal .modal-dialog .modal-body .text-container hr {
    border-top: 2px solid #d8d8d8
}
.c-modal .modal .modal-dialog .modal-body .btns-container {
    margin-top: 20px
}
.c-modal .modal .modal-dialog .modal-body .btns-container .btn {
    -webkit-appearance: unset;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    text-transform: none;
    color: #000;
    font-family: FlexoDemi, arial, sans-serif;
    font-size: 22px;
    padding: 10px 60px
}
.c-modal .modal .modal-dialog .modal-body .btns-container .btn.btn-flex-center {
    width: calc(50% - 1rem);
    white-space: normal;
    display: flex;
    align-items: center;
    justify-content: center
}
.c-modal .modal .modal-dialog .modal-body .btns-container .btn.btn-ok {
    background-color: #ffd400
}
.c-modal .modal .modal-dialog .modal-body .btns-container .btn.btn-cancel {
    background-color: #fff;
    border: solid 2px #091d57
}
.c-privacy-consent-modal .modal .modal-dialog {
    max-width: 730px
}
.c-privacy-consent-modal .modal .modal-dialog .modal-body {
    padding: 30px 10px 25px 10px
}
.c-privacy-consent-modal .modal .modal-dialog .modal-body .pokemon-international-logo {
    max-width: 248px;
    width: 100%
}
.c-privacy-consent-modal .modal .modal-dialog .modal-body .text-container h1 {
    font-size: 28px
}
.c-privacy-consent-modal .modal .modal-dialog .modal-body .text-container h3 {
    color: #091d57;
    font-family: FlexoDemi, sans-serif
}
.c-privacy-consent-modal .modal .modal-dialog .modal-body .text-container p {
    line-height: 1.2;
    font-size: 18px
}
.c-privacy-consent-modal .modal .modal-dialog .modal-body .text-container .custom-control {
    padding-left: 37px;
    min-height: 35px
}
.c-privacy-consent-modal .modal .modal-dialog .modal-body .text-container .custom-control-inline {
    margin-right: 40px
}
.c-privacy-consent-modal .modal .modal-dialog .modal-body .text-container .btn {
    -webkit-appearance: unset;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    text-transform: none;
    color: #000;
    font-family: FlexoDemi, arial, sans-serif;
    font-size: 17px;
    background-color: #ffd400;
    padding: 6px 10px;
    margin-top: 16px;
    width: 100%;
    max-width: 330px;
    white-space: normal
}
.c-privacy-consent-modal .modal .modal-dialog .modal-body .text-container .blue-checkbox-input,
.c-privacy-consent-modal .modal .modal-dialog .modal-body .text-container .blue-radio-input {
    position: absolute;
    z-index: -1;
    opacity: 0
}
.c-privacy-consent-modal .modal .modal-dialog .modal-body .text-container .blue-checkbox-input:checked ~ .blue-checkbox-label::before,
.c-privacy-consent-modal .modal .modal-dialog .modal-body .text-container .blue-checkbox-input:checked ~ .blue-radio-label::before,
.c-privacy-consent-modal .modal .modal-dialog .modal-body .text-container .blue-radio-input:checked ~ .blue-checkbox-label::before,
.c-privacy-consent-modal .modal .modal-dialog .modal-body .text-container .blue-radio-input:checked ~ .blue-radio-label::before {
    background-color: #091d57
}
.c-privacy-consent-modal .modal .modal-dialog .modal-body .text-container .blue-checkbox-input:checked ~ .blue-checkbox-label::after,
.c-privacy-consent-modal .modal .modal-dialog .modal-body .text-container .blue-checkbox-input:checked ~ .blue-radio-label::after,
.c-privacy-consent-modal .modal .modal-dialog .modal-body .text-container .blue-radio-input:checked ~ .blue-checkbox-label::after,
.c-privacy-consent-modal .modal .modal-dialog .modal-body .text-container .blue-radio-input:checked ~ .blue-radio-label::after {
    content: url(/images/PTVIconCheckmark.svg);
    top: 5px
}
.c-privacy-consent-modal .modal .modal-dialog .modal-body .text-container .blue-checkbox-label,
.c-privacy-consent-modal .modal .modal-dialog .modal-body .text-container .blue-radio-label {
    position: relative;
    margin-bottom: 0;
    height: 30px
}
.c-privacy-consent-modal .modal .modal-dialog .modal-body .text-container .blue-checkbox-label::before,
.c-privacy-consent-modal .modal .modal-dialog .modal-body .text-container .blue-radio-label::before {
    position: absolute;
    left: -37px;
    top: -3px;
    display: block;
    width: 30px;
    height: 30px;
    pointer-events: none;
    content: "";
    user-select: none;
    border-radius: 6px;
    border: solid 2px #091d57
}
.c-privacy-consent-modal .modal .modal-dialog .modal-body .text-container .blue-checkbox-label::after,
.c-privacy-consent-modal .modal .modal-dialog .modal-body .text-container .blue-radio-label::after {
    position: absolute;
    left: -37px;
    top: -3px;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 24px;
    color: #fff;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%
}
.c-privacy-consent-modal .modal .modal-dialog .modal-body .btns-container .btn {
    padding: 10px;
    white-space: normal
}
@media only screen and (min-width: 576px) {
    .c-privacy-consent-modal .modal .modal-dialog .modal-body {
        padding: 30px 35px 25px 35px
    }
    .c-privacy-consent-modal .modal .modal-dialog .modal-body .btns-container .btn {
        white-space: nowrap
    }
}
.c-thumbnails {
    overflow-x: hidden;
    padding-bottom: 36px
}
.c-thumbnails .row {
    width: 342px;
    padding-left: 0;
    padding-right: 0
}
.c-thumbnails .row h2 {
    margin-top: 43px;
    margin-bottom: 20px;
    margin-left: 30px
}
.c-thumbnails .agile .agile__nav-button {
    height: 100%
}
.c-thumbnails .agile .channel-tile {
    max-width: 156px
}
@media only screen and (min-width: 576px) {
    .c-thumbnails .row {
        width: 498px
    }
}
@media only screen and (min-width: 768px) {
    .c-thumbnails .row {
        width: unset;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px
    }
    .c-thumbnails .agile .channel-tile {
        max-width: 33.333%
    }
}
@media only screen and (min-width: 992px) {
    .c-thumbnails .agile .channel-tile {
        max-width: 25%
    }
}
@media only screen and (min-width: 1200px) {
    .c-thumbnails .agile .channel-tile {
        max-width: 20%
    }
}
@media only screen and (min-width: 1455px) {
    .c-thumbnails .agile .channel-tile {
        max-width: 16.67%
    }
}
@media only screen and (min-width: 1710px) {
    .c-thumbnails .agile .channel-tile {
        max-width: 14.29%
    }
}
section.c-season-hero {
    position: relative;
    overflow: hidden;
    padding-bottom: 10
}
@media only screen and (max-width: 768px) {
    section.c-season-hero {
        padding: 0
    }
}
section.c-season-hero .hero-container {
    max-width: 1920px;
    padding: 0
}
@media only screen and (min-width: 768px) {
    section.c-season-hero .hero-container {
        padding: 0 30px
    }
}
section.c-season-hero .hero-background {
    object-fit: cover;
    top: 0;
    width: 100%;
    border-radius: 10px
}
@media only screen and (max-width: 768px) {
    section.c-season-hero .hero-background {
        border-radius: 0
    }
}
@media only screen and (min-width: 768px) {
    section.c-season-hero .hero-background {
        border-radius: 10px
    }
}
section.c-season-hero .season-info-wrapper {
    padding: 0
}
@media only screen and (min-width: 768px) {
    section.c-season-hero .season-info-wrapper {
        padding-top: 20;
        padding-left: 30;
        padding-right: 30
    }
}
@media only screen and (min-width: 992px) {
    section.c-season-hero .season-info-wrapper {
        padding-top: 0;
        padding-left: 10
    }
}
section.c-season-hero .bottom-season-info {
    padding: 0 0 15px 0;
    color: #fff;
    z-index: 3;
    display: block;
    position: relative;
    margin: auto
}
@media only screen and (max-width: 768px) {
    section.c-season-hero .bottom-season-info {
        padding: 0;
        margin: 1vh auto;
        width: 90%
    }
}
section.c-season-hero .bottom-season-info .row {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 1.5vh
}
section.c-season-hero .bottom-season-info h2 {
    line-height: 24px
}
section.c-season-hero .bottom-season-info h3 {
    line-height: 20px
}
section.c-season-hero .bottom-season-info h5 {
    line-height: 18px;
    opacity: .6
}
section.c-season-hero .bottom-season-info h6 {
    line-height: 16px;
    opacity: .6
}
section.c-season-hero .bottom-season-info .flag {
    margin-top: 5px;
    margin-bottom: 5px
}
@media only screen and (min-width: 992px) {
    section.c-season-hero {
        display: flex;
        flex-direction: row;
        align-items: top
    }
}
.c-season-episodes {
    padding-bottom: 24px
}
.c-season-episodes .agile .episode-tile:hover {
    box-shadow: 0 0 0 4px #fff
}
.c-season-episodes .agile.show-episode-number .agile__nav-button {
    margin-top: 28px
}
.c-season-episodes .agile .agile__nav-button {
    height: 0;
    padding-top: 8.5%;
    padding-bottom: 9%
}
.c-season-episodes .tile-episode-number {
    font-size: 14px;
    padding-bottom: 10px
}
.c-season-episodes .tile-episode-info {
    margin: auto;
    padding-top: 12px;
    padding-bottom: 12px
}
.c-season-episodes .tile-episode-divider {
    width: 100%;
    margin-left: 15px;
    margin-top: 31px;
    margin-bottom: 0;
    border-bottom: 1px solid #fff;
    opacity: .25;
    display: none
}
@media only screen and (min-width: 576px) {
    .c-season-episodes .tile-episode-divider {
        display: block
    }
}
.c-season-episodes h4 {
    line-height: 20px;
    font-family: FlexoBold, sans-serif;
    font-size: 20;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px
}
.c-season-episodes p {
    line-height: 16px;
    opacity: .6;
    padding-left: 15px;
    padding-right: 15px
}
.c-episode-carousel {
    overflow-x: hidden
}
.c-episode-carousel .episode-card {
    padding-left: 0;
    padding-right: 0;
    padding-top: 34px
}
.c-episode-carousel .episode-card.continue-watching-card {
    width: 310px
}
.c-episode-carousel .episode-card h2 {
    margin-bottom: 20px;
    margin-left: 30px
}
.c-episode-carousel .episode-card h3,
.c-episode-carousel .episode-card h4,
.c-episode-carousel .episode-card h5 {
    line-height: 18px
}
.c-episode-carousel .episode-card .episode-thumbnail {
    align-self: baseline;
    max-width: 280px
}
.c-episode-carousel .episode-card .episode-thumbnail.col-12 {
    max-width: unset;
    padding-bottom: 35px;
    display: flex;
    flex-wrap: wrap
}
.c-episode-carousel .episode-card .episode-thumbnail .episode-img-cover {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 608px
}
.c-episode-carousel .episode-card .episode-thumbnail .episode-img-cover .episode-tile {
    border-radius: 10px;
    overflow: hidden
}
.c-episode-carousel .episode-card .episode-thumbnail .episode-img-cover .episode-tile:hover {
    box-shadow: 0 0 0 4pt #fff
}
.c-episode-carousel .episode-card .episode-thumbnail .episode-img-cover .episode-tile img {
    width: 100%;
    object-fit: contain
}
.c-episode-carousel .episode-card .episode-thumbnail .episode-img-cover .progress-bar {
    width: 80%;
    background-color: #fff;
    height: 4px;
    display: block;
    position: relative;
    bottom: 17;
    left: 50%;
    transform: translateX(-50%)
}
.c-episode-carousel .episode-card .episode-thumbnail .episode-img-cover .progress-bar .progress-made {
    background-color: red;
    height: 4px
}
.c-episode-carousel .episode-card .episode-thumbnail .episode-info {
    font-family: FlexoRegular, sans-serif;
    font-size: 18;
    color: #fff;
    line-height: 1.1;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 6px;
    display: inline-block;
    text-decoration: none
}
.c-episode-carousel .episode-card .episode-thumbnail .episode-info span:first-child {
    font-family: FlexoDemi, sans-serif
}
@media only screen and (min-width: 576px) {
    .c-episode-carousel .episode-card.continue-watching-card {
        width: 590px
    }
}
@media only screen and (min-width: 768px) {
    .c-episode-carousel .episode-card {
        margin: auto;
        padding-left: 15px;
        padding-right: 15px
    }
    .c-episode-carousel .episode-card.continue-watching-card {
        width: unset
    }
    .c-episode-carousel .episode-card.continue-watching-card .episode-thumbnail {
        max-width: 33.333%
    }
    .c-episode-carousel .episode-card .episode-thumbnail {
        max-width: 33.333%
    }
}
@media only screen and (min-width: 1455px) {
    .c-episode-carousel .episode-card.continue-watching-card .episode-thumbnail {
        max-width: 25%
    }
}
.continue-watching-link:hover {
    text-decoration: none
}
.cont-watch-thumbnail {
    align-self: baseline;
    background-color: rgba(255, 255, 255, .15);
    max-width: 280px;
    padding: 0;
    flex-wrap: nowrap
}
.cont-watch-thumbnail:hover {
    box-shadow: 0 0 0 4pt #fff
}
.cont-watch-thumbnail.col-12 {
    max-width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 6px;
    border-radius: 10px
}
@media only screen and (min-width: 768px) {
    .cont-watch-thumbnail.col-12 {
        margin: 0 auto;
        max-width: 100%
    }
}
@media only screen and (min-width: 992px) {
    .cont-watch-thumbnail.col-12 {
        margin: 0 auto 0 -.25rem;
        max-width: 100%
    }
}
.cont-watch-thumbnail .cont-watch-img-cover {
    display: flex;
    align-items: center;
    padding: 1.5vh;
    width: 40vw
}
@media only screen and (min-width: 768px) {
    .cont-watch-thumbnail .cont-watch-img-cover {
        width: 20vw
    }
}
@media only screen and (min-width: 992px) {
    .cont-watch-thumbnail .cont-watch-img-cover {
        width: 11.5vw
    }
}
.cont-watch-thumbnail .cont-watch-img-cover .cont-watch-tile {
    overflow: hidden;
    position: relative
}
.cont-watch-thumbnail .cont-watch-img-cover .cont-watch-tile img {
    border-radius: 5px;
    width: 100%;
    object-fit: contain
}
.cont-watch-thumbnail .cont-watch-img-cover .cont-watch-progress-bar {
    width: 85%;
    background-color: #fff;
    height: 4px;
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%)
}
.cont-watch-thumbnail .cont-watch-img-cover .cont-watch-progress-bar .cont-watch-progress-made {
    background-color: red;
    height: 4px
}
.cont-watch-thumbnail .tile-cont-watch-info {
    padding: 1.5vh;
    font-family: FlexoRegular, sans-serif;
    font-size: 18;
    color: #fff;
    line-height: 1.5;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2
}
@media only screen and (min-width: 768px) {
    .cont-watch-thumbnail .tile-cont-watch-info {
        line-height: 1.5
    }
}
.cont-watch-thumbnail .tile-cont-watch-info .continue-watching {
    font-family: FlexoBold, sans-serif;
    font-size: 21
}
.cont-watch-thumbnail .tile-cont-watch-info .season-episode {
    font-family: FlexoBold, sans-serif;
    font-size: 18;
    line-height: 20px
}
.cont-watch-thumbnail .tile-cont-watch-info .episode-title {
    font-family: FlexoRegular, sans-serif;
    font-size: 18;
    line-height: 22px;
    padding-left: 5
}
.cont-watch-thumbnail .tile-cont-watch-info .episode-title.no-spacing {
    padding-left: 0
}
.c-player {
    background-color: #000;
    overflow: hidden
}
.video-js .vjs-current-time {
    display: block!important
}
#playerContainer .vjs-control-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 167px;
    padding-left: 40px;
    padding-right: 40px
}
.vjs-current-time.vjs-time-control.vjs-control,
.vjs-progress-control.vjs-control,
.vjs-remaining-time.vjs-time-control.vjs-control {
    margin-top: 38px!important;
    height: 30px!important
}
.vjs-current-time.vjs-time-control.vjs-control,
.vjs-remaining-time.vjs-time-control.vjs-control {
    font-size: 1.5rem!important;
    line-height: normal!important
}
.vjs-subs-caps-button.vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button {
    font-size: 1.5rem!important;
    line-height: normal!important;
    height: 40px!important;
    margin-top: 30px!important;
    width: 40px!important;
    margin-left: 20px
}
.vjs-subs-caps-button.vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button button.vjs-subs-caps-button {
    height: 40px!important;
    width: 40px!important
}
.video-js .vjs-volume-panel .vjs-volume-control.vjs-volume-vertical {
    margin-left: 35px
}
.vjs-volume-panel.vjs-control.vjs-volume-panel-vertical {
    font-size: 1.5rem!important;
    line-height: normal!important;
    margin-top: 26px!important;
    height: 46px!important;
    width: 40px!important;
    margin-right: 10px
}
.vjs-volume-panel.vjs-control.vjs-volume-panel-vertical button.vjs-mute-control.vjs-control.vjs-button {
    width: 50px;
    height: 50px
}
button.vjs-fullscreen-control.vjs-control.vjs-button {
    font-size: 1.5rem!important;
    line-height: normal!important;
    margin-top: 26px!important;
    height: 50px!important;
    width: 50px!important
}
.vjs-button > .vjs-icon-placeholder:before {
    line-height: normal!important
}
.vjs-button.vjs-backward > .vjs-icon-placeholder:before {
    color: #fff;
    content: "\f048"!important;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2rem;
    margin-top: 6px
}
.vjs-button.vjs-forward > .vjs-icon-placeholder:before {
    color: #fff;
    content: "\f051"!important;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2rem;
    margin-top: 6px
}
.vjs-volume-panel.vjs-control.vjs-volume-panel-vertical {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1
}
.vjs-subs-caps-button.vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2
}
.vjs-current-time.vjs-time-control.vjs-control {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3
}
.vjs-progress-control.vjs-control {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4
}
.vjs-remaining-time.vjs-time-control.vjs-control {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5
}
button.vjs-fullscreen-control.vjs-control.vjs-button {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6
}
.video-js .vjs-progress-holder {
    height: 8px!important
}
.video-js .vjs-play-progress:before {
    font-size: 1.625rem!important;
    color: red
}
.video-js .vjs-play-progress {
    background-color: red!important
}
button.vjs-play-control.vjs-control.vjs-button,
button.vjs-play-control.vjs-control.vjs-button.vjs-paused,
button.vjs-play-control.vjs-control.vjs-button.vjs-playing {
    font-size: 1.5rem!important;
    line-height: normal!important;
    margin-top: 26px!important;
    height: 46px!important;
    /* width: 40px!important; */
    position: absolute;
    top: 60px;
    right: 50%
}
button.vjs-play-control.vjs-control.vjs-button.vjs-backward {
    right: calc(50% + 50px)
}
button.vjs-play-control.vjs-control.vjs-button.vjs-forward {
    right: calc(50% - 60px)
}
button.vjs-skip-button {
    display: none
}
.vjs-control-bar > button.vjs-skip-button {
    display: block
}
.video-js .vjs-header-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background: rgba(43, 51, 63, .7);
    font-size: 1.875rem;
    padding-left: 40px
}
.video-js .vjs-header-bar .header-bar-big {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 50px
}
.video-js .vjs-header-bar .header-bar-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.video-js .vjs-header-bar.show-big-content {
    pointer-events: none;
    height: calc(100% - 167px)
}
.video-js .vjs-header-bar.show-big-content .header-bar-small {
    display: none
}
.video-js .vjs-header-bar.show-big-content .header-bar-big {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
.video-js .vjs-header-bar .header-bar-top-info {
    font-family: FlexoMedium, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: .92;
    margin-bottom: 50px
}
.video-js .vjs-header-bar .header-bar-title {
    font-family: FlexoBold, sans-serif;
    font-size: 3.75rem;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal
}
.video-js .vjs-header-bar .header-bar-season-info {
    font-family: FlexoRegular, sans-serif;
    font-size: 2.8125rem;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal
}
.video-js .vjs-header-bar .header-description {
    font-family: FlexoMedium, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: .92
}
.video-js .vjs-header-bar .header-description-dot {
    font-size: 1.0625rem;
    margin: 0 10px
}
.video-js .vjs-header-bar .header-description-dot-bigger {
    font-size: 1.875rem
}
.video-js .vjs-header-bar .header-back-button {
    margin-right: 20px;
    text-decoration: none;
    cursor: pointer
}
.video-js .vjs-header-bar .header-back-button:before {
    color: #ffcb00;
    content: "\f053";
    font-size: 1.875rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    opacity: 1
}
.vjs-has-started .vjs-header-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
    opacity: 1;
    -webkit-transition: visibility .1s, opacity .1s;
    -moz-transition: visibility .1s, opacity .1s;
    -ms-transition: visibility .1s, opacity .1s;
    -o-transition: visibility .1s, opacity .1s;
    transition: visibility .1s, opacity .1s
}
.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-header-bar {
    visibility: visible;
    opacity: 0;
    -webkit-transition: visibility 1s, opacity 1s;
    -moz-transition: visibility 1s, opacity 1s;
    -ms-transition: visibility 1s, opacity 1s;
    -o-transition: visibility 1s, opacity 1s;
    transition: visibility 1s, opacity 1s
}
.vjs-has-started.vjs-ended .vjs-control-bar {
    display: none!important
}
#player-screen .c-cont-watch-player {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 40px;
    background: rgba(43, 51, 63, .7);
    display: block
}
#player-screen .c-cont-watch-player .episode-countdown {
    color: #ffcb00
}
#player-screen .c-cont-watch-player .up-next-link {
    text-decoration: none
}
#player-screen .c-cont-watch-player .episode-card {
    max-width: 1219px;
    position: relative;
    margin: 0 auto
}
#player-screen .c-cont-watch-player .episode-card .episode-thumbnail {
    padding: 0;
    height: 165px
}
#player-screen .c-cont-watch-player .episode-card .episode-thumbnail img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover
}
#player-screen .c-cont-watch-player .episode-card .episode-thumbnail .btn-play {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    max-width: 293px;
    max-height: 165px;
    border: none;
    cursor: pointer;
    text-decoration: none
}
#player-screen .c-cont-watch-player .episode-card .episode-thumbnail .btn-play .far {
    margin: auto;
    font-size: 3rem;
    color: rgba(255, 255, 255, .7)
}
#player-screen .c-cont-watch-player .episode-card .episode-description {
    padding-left: 12px;
    margin-top: 0;
    max-height: 158px;
    overflow: hidden;
    -webkit-transition: max-height .3s ease-in-out;
    -moz-transition: max-height .3s ease-in-out;
    -o-transition: max-height .3s ease-in-out;
    transition: max-height .3s ease-in-out
}
#player-screen .c-cont-watch-player .episode-card .episode-description.show-more {
    max-height: var(--maxHeight);
    overflow: visible;
    margin-bottom: 40px
}
#player-screen .c-cont-watch-player .episode-card .episode-description h4 {
    font-family: FlexoBold, sans-serif;
    font-size: .9375rem;
    line-height: 1.375rem;
    margin-bottom: 8px;
    padding-bottom: 20px
}
#player-screen .c-cont-watch-player .episode-card .episode-description h3 {
    margin-bottom: 25px;
    font-size: 2.5rem;
    font-family: FlexoBold, sans-serif;
    line-height: 1.875rem;
    letter-spacing: -.05125rem
}
#player-screen .c-cont-watch-player .episode-card .episode-description h5 {
    font-family: FlexoRegular, sans-serif;
    font-size: 1.125rem;
    line-height: 1.375rem;
    margin-bottom: 6px
}
#player-screen .c-cont-watch-player .episode-card .episode-description h5.smaller {
    font-size: .7rem;
    margin: 0 4px
}
#player-screen .c-cont-watch-player .episode-card .episode-description .cont-watch-season-info {
    display: inline-flex
}
#player-screen .c-cont-watch-player .episode-card .episode-description p {
    font-size: .9375rem;
    font-family: FlexoRegular, sans-serif;
    line-height: 1.375rem;
    letter-spacing: -.0275rem;
    max-width: 817px;
    margin-right: 75px
}
#player-screen .c-cont-watch-player .episode-card .episode-description button {
    border: none;
    position: absolute;
    top: 124px;
    right: 25px;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer
}
#player-screen .c-cont-watch-player .episode-card .episode-description button .fas {
    font-size: 2.5rem;
    color: #ffcb00
}
html {
    height: 100%
}
.c-app-store-links {
    background-image: linear-gradient(0deg, #14356c 0, #57c8f2 100%);
    overflow: hidden;
    min-height: 100%;
    display: flex
}
.c-app-store-links .container {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column
}
.c-app-store-links .row {
    display: block;
    text-align: center;
    justify-content: center
}
.c-app-store-links .pkm-tv-image {
    width: 125px
}
.c-app-store-links p {
    font-family: FlexoRegular, sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;
    letter-spacing: 0;
    color: #fff;
    margin: 0 1%
}
.c-app-store-links .lbl-app-download-title {
    font-family: FlexoHeavy, sans-serif;
    font-size: 1.3rem
}
.c-app-store-links .lbl-app-watch {
    font-size: 1.02rem
}
.c-app-store-links .app-links-description-row {
    padding-top: 15px;
    padding-bottom: 20px
}
.c-app-store-links .app-links-titles-row {
    padding-top: 35px
}
.c-app-store-links .app-stores-badges-row {
    padding-top: 15px
}
.c-app-store-links .app-stores-badges-row a {
    cursor: pointer
}
.c-app-store-links .app-stores-badges-row img {
    padding: 0 5px
}
@media only screen and (min-width: 768px) {
    .c-app-store-links p {
        margin: 0 24%
    }
    .c-app-store-links .lbl-app-download-title {
        font-size: 1.48rem
    }
    .c-app-store-links .lbl-app-watch {
        font-size: 1.08rem
    }
    .c-app-store-links .app-stores-badges-row img {
        padding: 0 10px
    }
}
.loader-panel {
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #191f28;
    opacity: .5;
    z-index: 1201;
    overflow: hidden
}
.loader-panel.hide {
    display: none
}
.loader-panel .loader-wrapper {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.loader-panel .loader-wrapper .loader,
.loader-panel .loader-wrapper .loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em
}
.loader-panel .loader-wrapper .loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, .2);
    border-right: 1.1em solid rgba(255, 255, 255, .2);
    border-bottom: 1.1em solid rgba(255, 255, 255, .2);
    border-left: 1.1em solid #fff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast:active) {
    .c-episode-carousel .c-cont-watch-home .episode-card .episode-img-cover figure img {
        width: auto;
        height: auto
    }
    .c-season-hero .bottom-season-cont-watching .episode-card .episode-img-cover figure img {
        width: auto;
        height: auto
    }
    .c-season-episodes .episode-card .episode-img-cover figure img {
        width: auto;
        height: auto
    }
}
.smartbanner__info__author,
.smartbanner__info__price,
.smartbanner__info__title {
    line-height: .8rem;
    padding-bottom: 3px
}
.smartbanner__info__author {
    display: none
}
.smartbanner--ios .smartbanner__button {
    top: 42px
}
#dev-actions {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5000;
    width: 100%;
    background-color: #5f9ea0;
    height: 40px
}
#dev-actions .dev-button {
    cursor: pointer;
    line-height: 14px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    border-right: solid 1px #fff;
    padding: 12px 10px 0 10px;
    display: inline-block;
    height: 100%
}
