@font-face{
    font-family:FlexoHeavy;
    src: url(../fonts/flexo-heavy.woff);
}

@font-face {
    font-family: FlexoMedium;
    src: url(../fonts/flexo-medium.woff);
}

@font-face { 
    font-family: FlexoDemi;
    src: url(../fonts/flexo-demi.woff);
}

@font-face {
    font-family: FlexoThin;
    src: url(../fonts/flexo-thin.woff);
}

@font-face {
    font-family: FlexoRegular;
    src: url(../fonts/flexo.woff);
}

@font-face {
    font-family: FlexoBold;
    src: url(../fonts/flexo-bold.woff);
}

/*
@font-face{font-family:FlexoHeavy;  src:url(/styles/fonts/flexo-heavy-webfont.woff) format("woff");font-weight:400;font-style:normal}
@font-face{font-family:FlexoMedium; src:url(/styles/fonts/flexo_2_0-webfont.woff)   format("woff");font-weight:400;font-style:normal}
@font-face{font-family:FlexoDemi;   src:url(/styles/fonts/flexo_4_0-webfont.woff)   format("woff");font-weight:400;font-style:normal}
@font-face{font-family:FlexoThin;   src:url(/styles/fonts/flexo_0_0-webfont.woff)   format("woff");font-weight:400;font-style:normal}
@font-face{font-family:FlexoRegular;src:url(/styles/fonts/flexo_1_0-webfont.woff)   format("woff");font-weight:400;font-style:normal}
@font-face{font-family:FlexoBold;   src:url(/styles/fonts/flexo_5_0-webfont.woff)   format("woff");font-weight:400;font-style:normal}
*/

body{
    background-color: black !important;
}

.s-header {
    height: unset;
}

#navbar button, select, #get {
    border: 0;
    background-color: unset;
    font-family: FlexoBold;
    font-size: large;
    min-width: 100px;
    height: 50px;
    border-radius: .25rem;
    margin-left: 5px;
}

select {
    width: 200px;
}

option {
    font-family: FlexoBold;
}

select, #get {
    background-color: white;
    border: 1px sloid black;
}

#get{
    padding: 14px 35px;
}

#navbar button:hover{
    background-color: rgba(255,255,255,.25);
    cursor: pointer;
}

#catTitle{
    padding-top: 30px;
    height: 60px;
}

#posters span:hover, select:hover, #get:hover {
    cursor: pointer;
}

.season-info-wrapper {
    padding: 20px 30px 20px 30px !important;
}

.s-footer {
    background-image: url(../img/background_footer.png);
}

.s-footer .legal-container {
    margin-top: 0px;
    padding-top: 50px;
}

.s-footer .legal-links {
    padding-bottom: 50px !important;
}

#photobg{
    position:fixed;
    height:100%;
    width:100%;
    background:rgba(0,0,0,.9);
    z-index:10000;
    display:none;
    top:0;
    left:0;
}
#photobg span{
    font-size:50px;
    line-height:.5;
    position:absolute;
    top:12px;
    right:12px;
    color:#f00;
    cursor:pointer;
}

#photobg span:hover {
    font-weight:900;
    text-decoration:none;
}
#photobox {
    display:none;
    z-index:10001;
    background:#fff;
    color:black;
    left:50%;
    top:50%;
    padding:5px;
    width:900px;
    margin-left:-455px;
    height:522px;
    margin-top:-267px;
    position:fixed;
    overflow:hidden;
    border-radius:5px;
}

#photobox #ep-title {
    line-height: normal;
    text-align: center;
    margin-bottom: 2px;
}

#photobox video{
    max-width: 890px;
    max-height: 492px;
}

#player_cc{
    width: 890px;
    height: 492px;
}

/* ушкины фиксы */

#pages {
    flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
    .nav-home-logo {
        flex-grow:10;
        text-align: center;
    }
    .nav-home-logo img {
        margin-left: 0 !important;
        margin-bottom: 10px;
    }
    #pages {
        justify-content:  center;
    }
}

.episode-img-cover {
    cursor: pointer;
}

#photobox .vjs-fullscreen video {
    max-width: 100%;
    max-height: 100%;
}

.channel-tile:hover img {
    filter: contrast(120%) brightness(1.1);
}

#photobox {background: #000; text-align: center;height: auto !important;min-height: 400px; color: #d3dce3}
#ep-title {padding-top: 15px}
#ep-title a, 
#ep-title a:hover {cursor: default;color: #fff; font-size: 110%; text-decoration: none;}
#ep-title + div {margin-top: 20px}
#photobox .video-js .vjs-big-play-button {
    left: 50%;
    margin-left: -1.5em;
    top: 50%;
    margin-top: -0.81666em;
}