#body-content {
    min-height: 450px;
}

.gradient-background {
    background-image: linear-gradient(to bottom, #14c6f0, #091d57 750px);
    min-height: 75%;
    height: auto;
    overflow-x: hidden;
}

.c-category-screen .row {
    padding-left: 42.5px;
    padding-right: 42.5px;
    margin: auto;
    padding-bottom: 30px;
}

.channel-tile {
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-bottom: 15px;
    overflow: hidden;
}

.channel-tile span {
    display: block;
}

.channel-tile span:hover {
    cursor: pointer;
}

.channel-tile img {
    object-fit: contain;
    max-width: 100%;
    border-radius: 10px;
    filter: contrast(100%) brightness(1);
}

.channel-tile:hover img {
    filter: contrast(110%) brightness(1.1);
}

.c-season-hero {
    padding-bottom: 25px;
}

.c-season-hero .hero-container {
    max-width: 1920px;
    padding: 0;
}

.c-season-hero .hero-background {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

.c-season-hero .bottom-season-info {
    display: block;
    padding: 0 0 15px 0;
    margin: auto;
}

.c-season-hero .bottom-season-info .row {
    padding-bottom: 1.5vh;
    margin: 0;
}

.c-season-hero .bottom-season-info h2 {
    line-height: 24px
}

.c-season-hero .bottom-season-info h3 {
    line-height: 20px
}

.c-season-hero .bottom-season-info h5 {
    line-height: 18px;
    opacity: .6;
}

.c-season-hero .bottom-season-info h6 {
    line-height: 16px;
    opacity: .6;
}

@media only screen and (max-width: 767px) {
    .c-season-hero {
        padding: 0;
    }
    .c-season-hero .hero-background {
        border-radius: 0;
    }
    .c-season-hero .bottom-season-info {
        padding: 20px 25px;
    }
    .c-season-hero .bottom-season-info div:last-child {
        padding-bottom: 0 !important;
    }
}

@media only screen and (min-width: 768px) {
    .c-season-hero .hero-container {
        padding: 0 30px;
    }
    .c-season-hero .season-info-wrapper {
        padding: 20px 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .c-season-hero .hero-container {
        padding: 0 30px;
    }
    .c-season-hero .season-info-wrapper {
        padding: 25px 30px 0 30px;
    }
    .c-season-hero .bottom-season-info {
        padding: 0;
    }
    .c-season-hero .bottom-season-info div:last-child {
        padding-bottom: 0 !important;
    }
}

@media only screen and (min-width: 992px) {
    .c-season-hero {
        display: flex;
        flex-direction: row;
    }
}

.c-season-episodes {
    padding-bottom: 25px;
}

.c-season-episodes .episode-card {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.c-season-episodes .episode-img-cover .episode-tile {
    border-radius: 10px;
    cursor: pointer;
}

.c-season-episodes .episode-img-cover .episode-tile:hover {
    box-shadow: 0 0 0 4pt #fff;
}

.c-season-episodes .episode-img-cover img {
    border-radius: 10px;
    width: 100%;
    object-fit: contain;
}

.c-season-episodes .episode-thumbnail.col-12 {
    padding-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
}

.c-season-episodes .tile-episode-info {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.c-season-episodes p {
    line-height: 16px;
    opacity: 0.6;
    padding-left: 15px;
    padding-right: 15px;
}

.c-season-episodes h4 {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.c-season-episodes .tile-episode-number {
    font-size: 14px;
    padding-bottom: 10px;
}

.c-season-episodes .episode-card h2 {
    margin-bottom: 20px;
    margin-left: 30px
}

.c-season-episodes .episode-card h3,
.c-season-episodes .episode-card h4,
.c-season-episodes .episode-card h5 {
    line-height: 18px;
}

.c-season-episodes .tile-episode-divider {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 0;
    border-bottom: 1px solid #fff;
    opacity: 0.25;
}

.c-season-episodes .tile-episode-divider-first {
    margin: 0 15px 25px 15px;
}

@media only screen and (max-width: 767px) {
    .c-season-episodes .tile-episode-info {
        padding-top: 25px;
        padding-bottom: 0;
        padding-left: 0px;
        padding-right: 0px;
    }
}
